{% extends 'base.html' %}

{% block link %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block title %} Login {% endblock %}


{% block content %}
    <div class="bg"></div>
    <div class="form-container">
        <form action="/login" method="POST">
            <div class="group">
                <input type="text" name="email_username" id="email_username">
                <p class="error">{{ email_username_error }}</p>
            </div>
            
    
            <div class="group">
                <input type="password" name="password" id="password">
                <p class="error">{{ password_error }}</p>
            </div>
            
    
            <div class="group">
                <button type="submit" class="btn">Log in</button>
            </div>
        </form>
    </div>

{% endblock %}