{% extends 'base.html' %}

{% block title %} Posts {% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
    <p id="logged-user" class="{{ session['id'] }}"></p>
    {% include 'likesModal.html' %}

    <section class="main-section">
        <section class="left-contacts-section">
            <h2>Contacts</h2>
            <div class="contacts">
                {% for user in users %}
                <a href="/profile/{{ user.get_username() }}">
                    <div class="contact">
                        <div class="user-profile">
                            <img src="/static/images/profile/{{ user.get_profile_image() }}" alt="">
                            <p>
                                {{ user.get_firstname() }} {{ user.get_lastname() }}
                            </p>
                            {% if session['username'] == user.get_username() %}
                            <i class="fas fa-circle active"></i>
                            {% endif %}
                        </div>
                    </div> 
                </a>
                {% endfor %}
            </div>
        </section>    

        <div class="posts">
            {% for i in range(m) %}
            <div class="post">
                <div class="user-profile">
                    <a href="/profile/{{ join_res[i][4] }}">
                        <img src="/static/images/profile/{{ join_res[i][3] }}" alt="">
                    </a>
                    <a href="/profile/{{ join_res[i][4] }}">
                        <p>
                            {{ join_res[i][1] }} {{ join_res[i][2] }}
                        </p>
                    </a>
                    {% if session['username'] == join_res[i][4] %}
                    <i class="fas fa-circle active"></i>
                    {% endif %}
                </div>

                <a href="/post/{{ posts[i].get_id() }}" class="post-title-link">
                    <h2 class="post-title">{{ join_res[i][0] }}</h2>
                </a>
                <p class="post-content">{{ posts[i].get_content() }}</p>
                <div class="img-container">
                    <img src="/static/images/posts/{{ posts[i].get_image() }}" 
                         alt="{{ posts[i].get_title() }}">
                </div>

                <div class="comment-like">
                    <div class="numbers">
                        <div class="likes">
                            {% if session['id'] is in all_posts[i] %}
                            <i class="fas fa-thumbs-up"></i>
                            {% else %}
                            <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <p class="like-number">{{ likes_join[i][0] }}</p>
                        </div>

                        <div class="comments">
                            <p class="comments-number">{{ all_comments_posts[i][-1] }}</p>
                            <p>Comments</p> 
                        </div>
                    </div>

                    <div class="buttons">
                        <form class="like-form">
                            <button class="like-btn liked">
                                {% if session['id'] is in all_posts[i] %}
                                <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                Like
                            </button>
                            <span style="display: none;" class="whomLiked" id="{{ posts[i].get_userID() }}"></span>
                            <span style="display: none;" class="postID" id="{{ posts[i].get_id() }}"></span>
                        </form>

                        <button class="comment-btn">
                            <i class="fas fa-comment"></i>
                            comment
                        </button>
                    </div>
                </div>

                <div class="comment-section d_none">
                    <div class="write-comment-container">
                        <a href="/profile/{{ session['username'] }}">
                            <img src="/static/images/profile/{{ session['picture'] }}" alt="">
                        </a>
                        <i class="fas fa-circle active"></i>
                        <input type="text" name="comment" id="comment-input" placeholder="Write a comment...">
                        <button class="add-comment-btn">Send</button>
                    </div>
                    <hr>
                    <div class="read-comment-container">

                        <!-- {% set excluded_index = all_comments_posts[i][-1] %} -->
                        <!-- {% set new_all_comments_posts = all_comments_posts[:excluded_index] + all_comments_posts[excluded_index+1:] %} -->
                        {% for comment in all_comments_posts[i][:-1] %}
                        <div class="one-comment">
                            <a href="/profile/{{ comment[3] }}">
                                <img src="/static/images/profile/{{ comment[4] }}" alt="comment">
                            </a>
                            {% if session['username'] == comment[3] %}
                            <i class="fas fa-circle active"></i>
                            {% endif %}
                            <div class="content-container">
                                <h3>{{ comment[1] }} {{ comment[2] }}</h3>
                                <p class="comment-content">
                                    {{ comment[0] }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <script src="{{ url_for('static', filename='js/posts.js') }}"></script>

{% endblock %}
