{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" 
          href="{{ url_for('static', filename='css/profile.css') }}">

   <script type="text/javascript" 
          src="{{ url_for('static', filename='js/profile.js') }}">
   </script>
{% endblock %}


{% block title %} Profile {% endblock %}


{% block content %}
    <h1>Profile</h1>
    <section class="profile-section">
        <div class="profile-container">
            <div class="left">
                <div class="profile-img-container">
                    <img src="/static/images/profile/{{ user.get_profile_image() }}" 
                         alt="Default profile icon">
                </div>
                <div class="personal-info">
                    <h1>{{ user.get_firstname() }} {{ user.get_lastname() }}</h1>
                    <h2>@{{ user.get_username() }}</h2>
                </div>
            </div>
            {% if 'id' in session and session['id'] == user.get_id() %}
            <div class="right">
                <a class="btn" href="/edit/{{ user.get_username() }}">Edit Profile</a>
                <a class="btn" href="/create_post">Add Post</a>
            </div>
            {% endif %}
        </div>
    </section>

    <section class="posts-section">
        {% if not posts %}
        User has no posts
        {% endif %}
        
        {% for post in posts %}
        <div class="post">
            <h2 class="post-title">{{ post.get_title() }}</h2>
            <div class="post-content">
                <p>
                    {{ post.get_content() }}
                </p>
                <!-- <button class="read-more-btn">Read more</button> -->
            </div>
            <img src="/static/images/posts/{{ post.get_image() }}" 
                 alt="Post image">
        </div>
        {% endfor %}
    </section>
{% endblock %}