{% extends 'base.html' %}

{% block title %} Register {% endblock %}


{% block content %}
    <h1>Register</h1>
    <hr>
    <form action="/register" method="POST">
        <div class="group">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" id="firstname">
            <span>{{ firstname_error }}</span>
        </div>

        <div class="group">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" id="lastname">
            <span>{{ lastname_error }}</span>
        </div>

        <div class="group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
            <span>{{ username_error }}</span>
        </div>

        <div class="group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
            <span>{{ password_error }}</span>
        </div>

        <div class="group">
            <label for="confirm">Confirm Password</label>
            <input type="password" name="confirm" id="confirm">
            {{ confirm_error }}
        </div>

        <div>
            <input type="submit" value="Register">
        </div>

        <span>{{ acc_error }}</span>
    </form>
{% endblock %}